<h2>Index</h2>

<p>Hello from our View Template!</p>


@code {
    [Parameter]
    public Permission Permission { get; set; } = new();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}