@implements IDisposable
@inject StateContainer  StateContainer

@if (StateContainer.IsLoading)
{
    <div id="overlay">
        <div class="loader"></div>
        <h5>@StateContainer.TextLoading</h5>
    </div>
}

@code {
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}