@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace PlanningRouteWeb.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="Server" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/material-base.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        rel="stylesheet" />
    @* <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css" rel="stylesheet" /> *@
</head>

<body>
    <component type="typeof(App)" render-mode="Server" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>
        window.getWindowDimensions = function () {
            return {
                width: window.innerWidth,
                height: window.innerHeight
            };
        };
        // function DataTablesAdd(table) {
        //     $(function () {
        //         $(table).DataTable(
        //             {
        //                 info: false,
        //                 ordering: false,
        //                 paging: false,
        //                 searching: true,
        //                 fixedHeader: true,
        //                 fixedColumns: {
        //                     left: 5,
        //                 },
        //             }
        //     );
        // });
        // }
        // function DataTablesRemove(table) {
        //     $(function () {
        //         $(table).DataTable().destroy();
        //     });
        // } 
    </script>

</body>

</html>
