@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
<Loading/>
<Toast/>
 <div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
        <main class="">
            <div class="top-row px-4">
                <div id="routeName"></div>
                <div class="d-flex align-items-center ms-auto gap-1">
                    <i class="fa-solid fa-circle-user fa-xl"></i>
                    <span id="profile" class="navbar-text "></span>
                </div>

            </div>

            <article class=" px-1 pt-2" style="width: 85rem">
                @Body
            </article>

            <div style="margin-left: 3.5rem;">
            </div>
        </main>
</div> 
<script>
    (function () {
        var sec = JSON.parse(sessionStorage.getItem("permission"))
         document.getElementById("profile").innerHTML = sec.emp_detail.EMPLOYEE_NAME
    })();
</script>


<RadzenDialog />
<RadzenTooltip />


