@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
<Loading/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div id="routeName"></div>
            <div class="d-flex align-items-center ms-auto gap-1">
                <i class="fa-solid fa-circle-user fa-xl"></i>
                <span id="profile" class="navbar-text "></span>
            </div>
           
        </div>

        <article class="content px-1 pt-2">
            @Body
        </article>
    </main>
</div>
<script>
    (function () {
        var sec = JSON.parse(sessionStorage.getItem("permission"))
         document.getElementById("profile").innerHTML = sec.emp_detail.EMPLOYEE_NAME
    })();
</script>


@code {
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         var systems = await JSRuntime.InvokeAsync<List<string>>("getSystems");
    //         selectOrg = systems[0];
    //         await LoadOrg();
    //         await LoadRoute();
    //         var (error, timeline) = await TimelineService.GetTimeLine();
    //         if (error.Error)
    //         {
    //             // await CommonService.ShowAlert(new ToastModel
    //             //     {
    //             //         action = "error",
    //             //         messang = error.ErrorMessage
    //             //     });
    //         }
    //         else
    //         {
    //             timelineData = timeline;
    //         }
    //         StateHasChanged();
    //     }
    // }
}


