@inject IJSRuntime JSRuntime
<div class="top-row navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href=""></a>
    </div>
</div>
<div class="nav-scrollable">
    <nav class="flex-column">
        @foreach (var path in RoutePath.SetPath())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link " href=@path.Url>
                    <i class=@($"fa-solid {path.Icon}")></i>
                </NavLink>
            </div>
        }
    </nav>
</div>


@code {
    public List<RoutePath> routePaths { get; set; } = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            routePaths = RoutePath.SetPath();

            var systems = await JSRuntime.InvokeAsync<List<string>>("getSystems");
            if (systems.Count() == 1)
            {
                routePaths = routePaths.Select(x => new RoutePath
                {
                    Icon = x.Icon ,
                    Name = x.Name ,
                    Url = x.Child.First().Url
                }).ToList();
            }
        }
    }
}