@model Permission

@using Microsoft.AspNetCore.Components.Web
@using PlanningRouteWeb.Components
@using PlanningRouteWeb.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="~/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
     <component type="typeof(Home)" render-mode="ServerPrerendered" param-Permission=@Model /> 
    <script src="_framework/blazor.web.js"></script>
</body>

</html>