#overlay {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 102;
    cursor: pointer;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: rotation 2s linear infinite;
    /* Safari */
    animation: rotation 2s linear infinite;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.loader-index {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 90px;
    height: 90px;
    -webkit-animation: rotation 2s linear infinite;
    /* Safari */
    animation: rotation 2s linear infinite;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlay h3 {
    color: white;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 